.container {
    display: flex;
    flex-wrap: wrap;
}
 
.item {
    margin: 10px;
    padding: 10px;
} 

table {
    border-collapse: collapse;
    border: 1px solid black;
    margin: 15px;
    margin-right: 200px;
}

td, th {
    border: 1px solid black;
}